@model IEnumerable<BaiTapBuoi6.Models.Product>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-area="Admin" asp-controller="Products" asp-action="create" class="btn btn-primary mb-3">
	<i class="bi bi-plus"></i> Thêm sản phẩm mới
</a>
<table class="table">
	<thead>
		<tr>
			<th>Tên</th>
			<th>Giá</th>
			<th>Mô tả</th>
			<th>Ảnh</th>
			<th>Loại</th>
			<th>Chức năng</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Price</td>
				<td>@product.Description</td>

				<td>
					@if (!string.IsNullOrEmpty(product.ImageUrl))
					{
						<img src="@product.ImageUrl" alt="Product Image" style="max-width: 100px;" />
					}
				</td>
				<td>@product.Category?.Name</td>
			
				<td>
					<div class="btn-group" role="group">
						<a asp-area="Admin" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"
						   class="btn btn-info btn-sm">
							<i class="bi bi-eye"></i> View
						</a>
						<a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id"
						   class="btn btn-warning btn-sm ms-1">
							<i class="bi bi-pencil"></i> Edit
						</a>
						<a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id"
						   class="btn btn-danger btn-sm ms-1">
							<i class="bi bi-trash"></i> Delete
						</a>
					</div>
				</td>

			</tr>
		}
	</tbody>
</table>